[MASTER]
ignore = migrations,app\utils
extension-pkg-allow-list = flask,flask_sqlalchemy,flask_migrate,dotenv,alembic,sqlalchemy

[MESSAGES CONTROL]
disable =
    R1705,  # Отключение проверок ситуаций, когда после return есть недостижимый elif
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function docstring
    R0903,  # Too few public methods
    C0103,  # Invalid name (для миграций)
    W0613,  # Unused argument
    W0621,  # Redefining name from outer scope
    C0415,  # Import outside toplevel
    W0611,  # Unused import
    R0801,  # Дублирование строк кода
    R1732,  # Что-то про with. Бесит
    W0718,  # не выводим ошибки о "слишком общем исключении"
    W0511,  # плохая практика, но что поделать, когда сроки горят, а красивые проверки своих изменений видеть хочется?
    E1102,  # отключаем проверку на not-callable
    R0401,  # ругается на циклический импорт, хотя ошибок нет, вроде
    R0911,  # какая разница, сколько у меня return'ов?
    C0206,  # отключение consider-using-dict-items

[FORMAT]
max-line-length = 140

[BASIC]
good-names =
    db,
    app,
    config,
    _