nav {
    flex-shrink: 0;
}

.auth-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.auth-form .checkbox {
    font-weight: 400;
}

.auth-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.auth-form .form-control:focus {
    z-index: 2;
}

.auth-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.auth-form .btn-submit {
    display: flex;
    justify-content: center;
}

.auth-form .btn-submit .btn {
    width: 75%;
    margin-top: 25px;
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    flex: 1;
}