.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-login {
    font-weight: 500;
    color: #fff; /* чтобы видно было на navbar-dark */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex-shrink: 0;
}

.div-content {
  flex-grow: 1;
  min-height: 0;
}

.div-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

