.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-login {
    font-weight: 500;
    color: #fff; /* чтобы видно было на navbar-dark */
}