{% extends "tasks/tasks_base.html" %}

{% block head %}
<script src="https://cdn.tiny.cloud/1/ipeq3zsrf944zfld4kvz5o5xqgz7owj48o46aslsmtfyvj0v/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
{% endblock %}


{% block title %}Новая задача{% endblock %}

{% block content %}
<h1>Новая задача</h1>
<form class="newtask-form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.number(class="form-control", type="number", placeholder="Номер задачи в КИМ") }}</p>
    {% for error in form.number.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    <p>{{ form.statement_html(class="form-control", type="statement_html", id="statement_html", placeholder="Текст задачи") }}</p>
    {% for error in form.statement_html.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    <p>{{ form.answer(class="form-control", type="answer", placeholder="Ответ на задачу") }}</p>
    {% for error in form.answer.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    {{ form.attachments(class="form-control", multiple=True, placeholder="Файлы к задаче") }}
    {% for error in form.attachments.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <div class="btn-submit">
        {{ form.submit(class="btn btn-primary", type="submit", method="post") }}
    </div>
</form>
<script>
tinymce.init({
  selector: '#statement_html',   // внедряем в все <textarea>
  menubar: false,
  plugins: 'lists link image table code',
  language_url: '/static/js/TinyMCE/langs/ru.js',
  language: 'ru',
  license_key: 'gpl',
  toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright | table | bullist numlist | link image | code',
  height: 300
});
</script>
{% endblock %}
