name: Pylint

on:
  - push
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.13" ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache pip and poetry caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-pip-${{ hashFiles('**/pyproject.toml','**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-pip-

      - name: Install Poetry and project dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          export POETRY_VIRTUALENVS_IN_PROJECT=true
          poetry install --no-interaction --no-ansi

      - name: Analysing the code with pylint
        run: |
          # игнорируем миграции
          poetry run pylint --rcfile=.pylintrc $(git ls-files '*.py' | grep -v migrations || true)
